<div class="example-wrapper">
  <div class="example-header">
    Selection:
    <span id="selectedRows"></span>
  </div>
  <ag-grid-angular
    style="width: 100%; height: 700px;"
    class="ag-theme-material"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowSelection]="rowSelection"
    [editType]="editType"
    [debounceVerticalScrollbar]="true"
    [rowData]="rowData"
    (selectionChanged)="onSelectionChanged($event)"
    (cellValueChanged)="onCellValueChanged($event)"
      (rowValueChanged)="onRowValueChanged($event)"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div> 
<!-- <router-outlet></router-outlet> -->
